@import "tailwindcss";

/* カスタムテーマ設定 */
@theme {
  /* カラーパレット */
  --color-primary: #f2ece7;
  --color-secondary: #9f8f7c;
  --color-tertiary: #ede5d8;
  --color-accent: #6a8359;
  
  /* ブレークポイント */
  --breakpoint-3xl: 1920px;
  
  /* フォント */
  --font-family-display: "Inter", "sans-serif";
  
  /* カスタムアニメーション */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

/* カスタムベーススタイルがあれば */
@layer base {
  body {
    font-family: var(--font-family-display);
    background-color: var(--color-primary);
  }
}